<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="app-component-app">
  <template>
      <style is="custom-style">
      .container{
        border: 1px solid green;
        padding: 10px;
        margin: 20px 0;
      }
    </style>
    <div class="container">
      Esta es mi primera app [[nombre]]
    </div>
  </template>
  <script>
    Polymer({
      is: "app-component-app",
      properties: {
        nombre: {
          type: String,
          value: ''
        }
      }
    });
  </script>

</dom-module>